@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
  @apply text-transparent bg-clip-text bg-gradient-to-l from-orange-800 to-orange-500 inline-block;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.transparent {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.bg-primary-color {
  @apply bg-gradient-to-l from-orange-800 to-orange-500;
}

.nav-link:hover {
    color: rgba(245, 96, 9, 0.947); 
    transition: background-color 0.3s ease;
  }

  .hero-section {
    min-height: 100vh;
  }
  
